<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        
<title>处理详情</title>

<link rel="stylesheet" href="${ctxPath}/static/assets/baoliao/css/course.css" type="text/css">
<link rel="stylesheet" href="${ctxPath}/static/assets/baoliao/css/main.css" type="text/css">
<link rel="stylesheet" href="${ctxPath}/static/assets/baoliao/css/base.css" type="text/css">

    
</head>
<body>

	<header>
		<div class="newheader">
			<a class="imwap-arrow_l goback l" href="javscript:void(0)" onclick="javascript:history.back(-1);">
				<i class="icon-arrow-left"></i>
			</a>
			<span class="js-header-name header-name l"> 报料处理详情 </span> 
			<a href="mycenter" class="right-box r js-header-avator">
				<img src="http://img.mukewang.com/user/54584cc500019c5b02200220-40-40.jpg" width="40" height="40">
			</a>
			<a class="header-share r js-share" href="javascript:void(0);">
				<i class="icon-share"></i>
			</a>
		</div>
	</header>
	
	<div style="height:2.4rem"></div>
	
	<section class="course-infos">
		<div class="course-intro">
			<h2>${baoliao.title!}</h2>
		</div>
		
	</section>

	<section class="course-content">
		<p class="course-intro">${baoliao.cont}</p>
		<ul>
			<li>${baoliao.status}</li>
			<li style="width: 28%">时长 : 2h13m</li>
			<li style="width: 28%">响应 : 15m</li>
			<li>评分 : 9.8</li>
		</ul>

	</section>


	<section class="course-container">
    <h2>回复处理详情</h2>
    <ul class="course-chapter">
       <li>
        	<h3 class="chapter-title">1、教育局</h3>
			<ul class="course-sections">
				<li>
					<i class="section-icon section-icon-video"></i>
					<a data-id="11262" href="#"> 已经安排人进行处理了，对这次事件非常重视，请各位领导放心。 </a>
				</li>
			</ul>
		</li>
		
		
		<li>
        	<h3 class="chapter-title">2、教科研</h3>
			<ul class="course-sections">
				<li>
					<i class="section-icon section-icon-video"></i>
					<a data-id="11262" href="#"> 已经安排人进行处理了，对这次事件非常重视，请各位领导放心。 </a>
				</li>
				<li>
					<i class="section-icon section-icon-video"></i>
					<a data-id="11262" href="#"> 已经安排人进行处理了，对这次事件非常重视，请各位领导放心。 </a>
				</li>
			</ul>
		</li>
		
		
		<li>
        	<h3 class="chapter-title">3、安全局</h3>
			<ul class="course-sections">
				<li>
					<i class="section-icon section-icon-video"></i>
					<a data-id="11262" href="#"> 已经安排人进行处理了，对这次事件非常重视，请各位领导放心。 </a>
				</li>
			</ul>
		</li>
		
		
		<li>
        	<h3 class="chapter-title">4、文化局</h3>
			<ul class="course-sections">
				<li>
					<i class="section-icon section-icon-video"></i>
					<a data-id="11262" href="#"> 已经安排人进行处理了，对这次事件非常重视，请各位领导放心。 </a>
				</li>
				<li>
					<i class="section-icon section-icon-video"></i>
					<a data-id="11262" href="#"> 已经安排人进行处理了，对这次事件非常重视，请各位领导放心。 </a>
				</li>
			</ul>
		</li>
                  
      </ul>
  </section>


	<section class="course-container course-container-white">

		<div class="course-info-tip">
			<dl>
				<dt>用户须知</dt>
				<dd class="autowrap">须知内容 内容须知内容 内容须知内容 内容须知内容 内容须知内容 内容须知内容 内容。
				</dd>
			</dl>
			
		</div>
	</section>


	<section class="course-btns">
       <a href="#" class="btn-course-green">我要评价</a>
 	</section>

</body>
</html>