<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        
<title>个人中心</title>

<link rel="stylesheet" href="${ctxPath}/static/assets/baoliao/css/usercenter.css" type="text/css">
<link rel="stylesheet" href="${ctxPath}/static/assets/baoliao/css/main.css" type="text/css">
<link rel="stylesheet" href="${ctxPath}/static/assets/baoliao/css/base.css" type="text/css">
</head>
<body class=" wap ">

<header>
		<div class="newheader">
			<a class="imwap-arrow_l goback l" href="javscript:void(0)" onclick="javascript:history.back(-1);">
				<i class="icon-arrow-left"></i>
			</a>
			<span class="js-header-name header-name l"> 个人中心 </span> 
			<a href="mycenter" class="right-box r js-header-avator">
				<img src="http://img.mukewang.com/user/54584cc500019c5b02200220-40-40.jpg" width="40" height="40">
			</a>
		</div>
	</header>
	
	<div style="height:2.4rem"></div>
	<div class="pages">
    <div class="box">
       <img class="userheard" src="http://img.mukewang.com/54584cc500019c5b02200220-370-370.jpg">
        <div class="info">
            <p>王小小</p>
            <p class="gray">已报料  2条 | 处理完成 1</p>
        </div>
    </div>
    <div class="group">
        <a href="listbaoliaos">
            <div> <i class="icon-grid"></i>
                <p>报料列表</p> 
            </div>
        </a>
        <a href="getschedule">
            <div> <i class="icon-loop"></i>
                <p>进度查询</p>
            </div>
        </a>
        <a href="addbaoliao">
            <div> <i class="icon-envelope-letter"></i>
                <p>我要报料</p>
            </div>
        </a>
        <a href="#">
            <div> <i class="icon-bar-chart"></i>
                <p>统计(待开放)</p>
            </div>
        </a>
    </div>
    
   <!-- <a class="btnlogout" href="http://m.imooc.com/passport/user/logout?referer=http://www.imooc.com/m/web">退出登录</a> -->
  </div>
	

</body>
</html>