<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        
<title>添加新闻</title>

<link rel="stylesheet" href="${ctxPath}/static/assets/baoliao/css/course.css" type="text/css">
<link rel="stylesheet" href="${ctxPath}/static/assets/baoliao/css/main.css" type="text/css">
<link rel="stylesheet" href="${ctxPath}/static/assets/baoliao/css/base.css" type="text/css">
<style type="text/css">
	.chapter-title{
		font-weight: normal;
	}
	.txtinput{
		height: 34px;
		width: 100%;
		font-size: 12px;
		font-family: 'Microsoft YaHei';
	}
	select,textarea{
		width: 100%;
		font-size: 12px;
		font-family: 'Microsoft YaHei';
	}
	
	.course-sections li{
		padding: 0.15rem 0.5rem 0.15rem 0.6rem;
	}
	.icon-picture,.icon-docs,.icon-screen-tablet,.icon-call-end,.icon-envelope{
	  position: absolute;
	  top: 0.6rem;
	  left: 0.6rem;
	  margin-top: -2px;
	  margin-left: 0px;
	  width: 10px;
	  height: 10px;
	}
.icon-picture, .icon-docs, .icon-screen-tablet, .icon-call-end, .icon-envelope{
	top:0.8rem;
}
.help-block-error{
	color: red;
	
}
.icon-close{
	font-size: 20px;
	color: red;
}
</style>

<script src="${ctxPath}/static/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="${ctxPath}/static/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="${ctxPath}/static/assets/global/plugins/jquery-validation/js/localization/messages_zh.js" type="text/javascript"></script>
 <!-- 配置文件 -->
<script src="${ctxPath}/static/assets/layouts/layout2/scripts/demo.js" type="text/javascript"></script>
<script src="${ctxPath}/static/assets/global/scripts/QiniuUUID.js" type="text/javascript"></script>
<script src="${ctxPath}/static/assets/global/plugins/plupload-2.1.8/js/moxie.min.js" type="text/javascript"></script>
<script src="${ctxPath}/static/assets/global/plugins/plupload-2.1.8/js/plupload.full.min.js" type="text/javascript"></script>
<script src="${ctxPath}/static/assets/global/plugins/plupload-2.1.8/js/i18n/zh_CN.js" type="text/javascript"></script>
<script src="${ctxPath}/static/assets/global/plugins/qiniu/dist/qiniu.min.js" type="text/javascript"></script>

<script src="${ctxPath}/static/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
<link href="${ctxPath}/static/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
 			
<script type="text/javascript">
	window.ctxPath = "${ctxPath!}";
	window.qiniuDomain = "orbzivh5n.bkt.clouddn.com";
	window.qiniuDomainHttp = "http://" + window.qiniuDomain + "/";
</script>

</head>
<body>
<input type="hidden" id="initData" value='${initData!}'>
<script type="text/javascript">
var initData = {};
if($("#initData").val())initData = jQuery.parseJSON($("#initData").val());
</script>


	<header>
		<div class="newheader">
			<a class="imwap-arrow_l goback l" href="javscript:void(0)" onclick="javascript:history.back(-1);">
				<i class="icon-arrow-left"></i>
			</a>
			<span class="js-header-name header-name l"> 添加新闻 </span> 
			<a href="${ctxPath}/phoneui/usercenter" class="right-box r js-header-avator">
				<img src="http://img.mukewang.com/user/54584cc500019c5b02200220-40-40.jpg" width="40" height="40">
			</a>
			<a class="header-share r js-share" href="javascript:void(0);">
				<i class="icon-share"></i>
			</a>
		</div>
	</header>
	
	<div style="height:1.5rem"></div>

	<section class="course-content">
		<p class="course-intro">请网友客观、理性、正当地进行筛选。要求实事求是，有理有据。</p>
	</section>


	<section class="course-container">
    <div style="height:1rem"></div>
    
    <form action="#" method="post" id="newsform" onsubmit="return false;">
    <ul class="course-chapter">
       <li>
        	<h3 class="chapter-title">标题</h3>
			<ul class="course-sections">
				<li>
					<input type="text" class="txtinput required columnName" id="title" name="title" placeholder="请输入新闻标题" maxlength="30" columnName="newsModel.title"/>
				</li>
			</ul>
		</li>
		
		
		 <li>
        	<h3 class="chapter-title">类别</h3>
			<ul class="course-sections">
				<li>
					<select id="typeid" name="typeid" class="columnName" columnName="newsModel.typeid">
						
					</select>
				</li>
			</ul>
		</li>
		
		<li>
        	<h3 class="chapter-title">新闻来源</h3>
			<ul class="course-sections">
				<li>
					<select id="sourceIds2" name="sourceIds2" class="columnName" columnName="newsModel.sourceid">
						
					</select>
				</li>
			</ul>
		</li>
		
		<li id="wburl">
        	<h3 class="chapter-title">新闻链接</h3>
			<ul class="course-sections">
				<li>
					<input type="text" class="txtinput url columnName" id="newsurl" name="newsurl" placeholder="请输入新闻链接地址" maxlength="30" columnName="newsModel.newsurl"/>
				</li>
			</ul>
		</li>
		
		
		
		
		<li id="sscont" style="display: none;">
        	<h3 class="chapter-title">内容</h3>
			<ul class="course-sections">
				<li>
					<textarea rows="12" cols="10" id="cont" name="cont" placeholder="最多输入1000字。" maxlength="1000" class="columnName" columnName="newsModel.cont"></textarea>
				</li>
			</ul>
		</li>
		
		
		<li id="imglistli" style="display: none;">
			<h3 class="chapter-title">图片列表</h3>
			<ul class="course-sections">
				<div id="imglist"></div>
			</ul>
		</li>
		
		
		<li>
        	<h3 class="chapter-title">上传图片</h3>
			<ul class="course-sections">
				<li>
					<input type="hidden" class="form-control columnName" id="mainImg" name="mainImg"> 
					<input type="file" style="display: none;" id="upimgs">
                    <a class="btn btn-default btn-lg " id="pickfiles" href="#" > <i class="glyphicon glyphicon-plus"></i> <span>✚选择文件</span></a>
				</li>
			</ul>
		</li> 
		
		
		
         
         <li><a href="javascript:void(0)" class="btn-course-green">提交新闻</a></li>
                  
      </ul>
      
      
      </form>
  </section>
</body>
<script type="text/javascript">


 


$(document).ready(function() {
	 
	
		//上传
	 
	  var uploader = Qiniu.uploader({
      runtimes: 'html5,flash,html4',
      browse_button: 'pickfiles',
      max_file_size: '10mb',
      flash_swf_url: '${ctxPath}/static/assets/global/plugins/plupload-2.1.8/js/Moxie.swf',
      chunk_size: '4mb',
      filters:[{title : "图片文件", extensions : "jpg,png,gif"}],
      uptoken_url: "${ctxPath}/ajaxGetUploadToken",
      domain: window.qiniuDomain,
      get_new_uptoken: false,
      auto_start: true,
      log_level: 5,
      init: {
          'FilesAdded': function(up, files) {
          },
         
          'UploadProgress': function(up, file) {
          },
          'UploadComplete': function(up, file, info) {
          	
        	  $(".icon-close").click(function(){
        		  	var dimg = $(this).parent().parent().find("img").attr("alt");
        		  	$(this).parent().parent().remove();
       		  	  	var mainimg = $("#mainImg").val();
        		  	$("#mainImg").val(mainimg.replace(dimg+",", ''));
        		});
        	  
          },
          'FileUploaded': function(up, file, info) {
          	var _key = $.parseJSON(info).key;
          	var mainimg = $("#mainImg").val();
          	 
          	$("#mainImg").val(_key+","+mainimg);
			
          	$("#imglistli").show();
			$("#imglist").append("<div style='padding-left:10px;'><img src='"+window.qiniuDomainHttp + _key+"' style='max-width:30%;' alt='"+_key+"'/><span style='position:absolute;margin-left:5px;'><i class='icon-close'></i></span></div>");
			
          },
          'Error': function(up, err, errTip) {
        	  
          },
          Key:function(up, file) {
          	return $.QiniuUUID().getKet(file);
          }
      }
      
	 });
	 
	var newsform = $("#newsform");
	newsform.validate({
		errorElement : 'span', //default input error message container
		errorClass : 'help-block help-block-error'
	});
	
	
	
	
	 //点击保存
	 $(".btn-course-green").click(function() {
			if (newsform.valid()) {
				var jsonData = {};

				$("#newsform .columnName").each(function() {
					if ($(this).val() != "") {
						jsonData[$(this).attr("columnName")] = $(this).val();
					}
				});

				var _url = "${ctxPath}/news/ajaxsavenews";
				$.ajax({
					url : _url,
					type : "post",
					data : jsonData,
					success : function(data) {
						$('#large').modal('hide');
						if (data.success) {
							toastr.success("提交成功，等待后台审核！");
							//提交成功后刷新当前页面
							
						} else {
							toastr.error(data.error);
						}
					}
				});

			}
		});
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 function selectInitList(domId,initDataId,listId){
			var _items = initData[initDataId];
			$(domId).append(String.format('<option value="{0}">{1}</option>',"","请选择..."));
			for(var i = 0;i < _items.length;i++){
				var j = _items[i];
				if(j.listId == listId){
		 			$(domId).append(String.format('<option value="{0}">{1}</option>',j["id"],j["label"]));
				}
			}
		}

	 
	 
	 	//安全等
		selectInitList("#typeid", "lists", 1);
		//网报 、声视等
		selectInitList("#sourceIds2", "lists", 3);
		
		$("#sourceIds2").change(function () {
			$("#cont").val("");
			if($(this).find("option:selected").text()=="声视新闻"||$(this).find("option:selected").text()=="媒体聚焦"){
				
				$("#wburl").hide();
				$("#sscont").show();
			}else{
				$("#wburl").show();
				$("#sscont").hide();
			}
			
		});
	 
	 
	 
	 
	
});

</script>



</html>