
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>测试轮播</title>
<!--Swiper3.0.4-->
<meta name="viewport" content="initial-scale=1">
<link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/ceshi/swiper.min.css">
<link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/ceshi/choumei.min.css">

</head>
<body>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="${ctxPath}/static/assets/phoneui/ceshi/1.png" class="main-img"></div>
    <div class="swiper-slide"><img src="${ctxPath}/static/assets/phoneui/ceshi/1.png" class="main-img"></div>
    <div class="swiper-slide"><img src="${ctxPath}/static/assets/phoneui/ceshi/1.png" class="main-img"></div>
    <div class="swiper-slide"><img src="${ctxPath}/static/assets/phoneui/ceshi/1.png" class="main-img"></div>
    <div class="swiper-slide"><img src="${ctxPath}/static/assets/phoneui/ceshi/1.png" class="main-img"></div>
    <div class="swiper-slide"><img src="${ctxPath}/static/assets/phoneui/ceshi/1.png" class="main-img"></div>
  </div>
</div>

<div class="swiper-pagination" id="pagination"></div>


<script src="${ctxPath}/static/assets/phoneui/ceshi/swiper.min.js"></script>
<script src="${ctxPath}/static/assets/phoneui/ceshi/choumei.min.js">
 
</script>
</body>
</html>
