<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>群组成员管理</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />

    <link href="${ctxPath}/static/assets/phoneui/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/Global.css" />
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/style.css">
    <script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/jquery.js" ></script>
    <script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/responsive.js" ></script>
    </head>
   
<body class="chat mbsc-fr-lock">
<header class="mui-bar mui-bar-nav bgh">
	<a class="mui-icon mui-icon-back"></a>
   	<h1 class="mui-title">群组成员管理</h1>
</header>
<div class="hei"></div>
<div class="hei"></div>
	<div class="content ">
		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<span><p><small>Chat room title</small></p><big>FIRST TATTOO</big></span>
				</li>
				<li class="mui-table-view-cell">
					<span><p><small>Notifications</small></p><big>Send push notifications</big></span>
					<div class="mui-switch mui-switch-blue mui-switch-mini">
						<div class="mui-switch-handle"></div>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<span><p><small>Room type</small></p><big>Privat</big></span>
					<div class="mui-switch mui-switch-blue mui-switch-mini">
						<div class="mui-switch-handle"></div>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<span><p><small>Participants</small></p><big>&nbsp;</big></span>
				</li>
			</ul>
		</div>
		<script src="${ctxPath}/static/assets/phoneui/js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack : true
			//启用右滑关闭功能
			});
		</script>
		<div class="tx">
			<ul class="mui-table-view mui-grid-view mui-grid-9">
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="${ctxPath}/phoneui/book">
						<p>
							<img src="${ctxPath}/static/assets/phoneui/img/add.png" width="70%">
						</p>
						<div class="mui-media-body">
							<small>ADD USER</small>
						</div>
				</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="#">
						<p>
							<img src="${ctxPath}/static/assets/phoneui/img/head.png" width="70%">
						</p>
						<div class="mui-media-body">
							<small>BILLY WOOD</small>
							<p>
								<small>COACH</small>
							</p>
						</div>
				</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="#">
						<p>
							<img src="${ctxPath}/static/assets/phoneui/img/head.png" width="70%">
						</p>
						<div class="mui-media-body">
							<small>BILLY</small>
							<p>
								<small>COACH</small>
							</p>
						</div>
				</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="#">
						<p>
							<img src="${ctxPath}/static/assets/phoneui/img/head.png" width="70%">
						</p>
						<div class="mui-media-body">
							<small>BILLY</small>
							<p>
								<small>COACH</small>
							</p>
						</div>
				</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="#">
						<p>
							<img src="${ctxPath}/static/assets/phoneui/img/head.png" width="70%">
						</p>
						<div class="mui-media-body">
							<small>BILLY</small>
							<p>
								<small>COACH</small>
							</p>
						</div>
				</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="#">
						<p>
							<img src="${ctxPath}/static/assets/phoneui/img/head.png" width="70%">
						</p>
						<div class="mui-media-body">
							<small>BILLY</small>
							<p>
								<small>COACH</small>
							</p>
						</div>
				</a>
				</li>
			</ul>
		</div>
		<div class="hei"></div>
		<div class="hei"></div>
		<div class="hei"></div>
		<div class="login_btn  fixbot">
			<input type="submit" value="保 存" class="ok3 font-avenir" style="line-height: 2rem !important; font-weight: bold; height: 2rem !important">
		</div>
	</div>
</body>
</html>