<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>新闻中心</title>
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="${ctxPath}/static/assets/phoneui/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/Global.css" />
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/style.css">
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/swiper.min.css">
    <link href="http://www.17sucai.com/preview/119846/2014-04-23/jiaoben1663/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/responsive.js" ></script>
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/swiper.min.css">
    <style>
body, html {
	min-width: 320px;
	max-width: 750px;
	height: 100%;
}
#hhh {
	width: 100%;
	background: url("${ctxPath}/static/assets/phoneui/images/banner.png") no-repeat;
	background-size: 100% 100%;
}
#hhh .swiper-container {
	width: 100%;
	padding-top: 0.5rem;
}
#hhh .swiper-slide {
	background-position: center;
	background: #FFF;
	background-size: 130% 120%;
	width: 86%;
}
#hhh .swiper-slide img {
	display: block;
	width: 100%;
}
#hhh .swiper-container h2 {
	text-align: center;
font-size:.7rem;
	font-weight: normal;
	padding: 1.2rem 0;
padding-bottom:.3rem
}
#hhh .swiper-button-next, .swiper-button-prev {
	top: 5rem;
	width: 10%;
	height: 7rem;
}
#hhh .swiper-button-next {
	background: url("${ctxPath}/static/assets/phoneui/images/right.png") no-repeat 100% 2.5rem;
}
#hhh .swiper-button-prev {
	background: url("${ctxPath}/static/assets/phoneui/images/left.png") no-repeat 0 2.5rem;
}
.news2 .pad {
padding:.5rem .8rem
}
.news2 .mui-btn-block {
	margin-bottom: 0;
	background: #06bebd;
	border: none
}
.mui-icon-settings{
-moz-transform:rotate(90deg);
-webkit-transform:rotate(90deg);}

.swiper-pagination{ position:fixed; bottom:1rem; color:#fff;} 
</style>
    </head>
    <body class="news2 mbsc-fr-lock  ">
	<header class="mui-bar mui-bar-nav ">
		<a class="mui-icon mui-icon mui-icon-bars"></a>
      	<h1 class="mui-title">新闻列表</h1>
      	<span class="mui-icon mui-icon-settings right"></span>
    </header>
	<div class="heihead"></div>

	<div class="mui-text-center riqi"><i class="ico24"></i> 17 Octowber</div>
	<div class="index">
		<!-- 轮播 -->
		<header id="hhh">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<h2>标题标题标题标题</h2>
						<p class=" mui-text-center">2016-06-05 05:00</p>
						<div class="star mui-text-center">
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star"></span>
						</div>
						<P class="mui-clearfix hei"></P>
						<img src="${ctxPath}/static/assets/phoneui/img/user_06.jpg"
							alt="图片加载失败" title="宣传图片1">
						<div class="pad grew">
							<span class="mui-pull-left"> <i class="ico22"></i> 新闻列表</span> 
							<span class="mui-pull-right"> <i class="ico22"></i> 发布人</span>
						</div>
						<P class="mui-clearfix hei"></P>
						<div class="mui-clearfix pad grew">
							备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注</div>
						<P class="mui-clearfix hei"></P>
						<a href="${ctxPath}/phoneui/newsinfo" class="mui-btn mui-btn-block mui-btn-green ">去看看</a>
					</div>
					<div class="swiper-slide">
						<h2>标题标题标题标题</h2>
						<p class=" mui-text-center">2016-06-05 05:00</p>
						<div class="star mui-text-center">
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star"></span>
						</div>
						<P class="mui-clearfix hei"></P>
						<img src="${ctxPath}/static/assets/phoneui/img/user_06.jpg" alt="图片加载失败" title="宣传图片1">
						<div class="pad grew">
							<span class="mui-pull-left"> <i class="ico22"></i> 新闻列表</span> 
							<span class="mui-pull-right"> <i class="ico22"></i> 发布人</span>
						</div>
						<P class="mui-clearfix hei"></P>
						<div class="mui-clearfix pad grew">
							备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注</div>
						<P class="mui-clearfix hei"></P>
						<a href="${ctxPath}/phoneui/newsinfo" class="mui-btn mui-btn-block mui-btn-green ">去看看</a>
					</div>
					<div class="swiper-slide">
						<h2>标题标题标题标题</h2>
						<p class=" mui-text-center">2016-06-05 05:00</p>
						<div class="star mui-text-center">
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star"></span>
						</div>
						<P class="mui-clearfix hei"></P>
						<img src="${ctxPath}/static/assets/phoneui/img/user_06.jpg" alt="图片加载失败" title="宣传图片1">
						<div class="pad grew">
							<span class="mui-pull-left"> <i class="ico22"></i> 新闻列表</span> 
							<span class="mui-pull-right"> <i class="ico22"></i> 发布人</span>
						</div>
						<P class="mui-clearfix hei"></P>
						<div class="mui-clearfix pad grew">
							备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注</div>
						<P class="mui-clearfix hei"></P>
						<a href="#" class="mui-btn mui-btn-block mui-btn-green ">去看看</a>
					</div>
					<div class="swiper-slide">
						<h2>标题标题标题标题</h2>
						<p class=" mui-text-center">2016-06-05 05:00</p>
						<div class="star mui-text-center">
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star"></span>
						</div>
						<P class="mui-clearfix hei"></P>
						<img src="${ctxPath}/static/assets/phoneui/img/user_06.jpg" alt="图片加载失败" title="宣传图片1">
						<div class="pad grew">
							<span class="mui-pull-left"> <i class="ico22"></i> 新闻列表</span> 
							<span class="mui-pull-right"> <i class="ico22"></i> 发布人</span>
						</div>
						<P class="mui-clearfix hei"></P>
						<div class="mui-clearfix pad grew">
							备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注</div>
						<P class="mui-clearfix hei"></P>
						<a href="${ctxPath}/phoneui/newsinfo" class="mui-btn mui-btn-block mui-btn-green ">去看看</a>
					</div>
					<div class="swiper-slide">
						<h2>标题标题标题标题</h2>
						<p class=" mui-text-center">2016-06-05 05:00</p>
						<div class="star mui-text-center">
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star-filled"></span>
							<span class="mui-icon mui-icon-star"></span>
						</div>
						<P class="mui-clearfix hei"></P>
						<img src="${ctxPath}/static/assets/phoneui/img/user_06.jpg" alt="图片加载失败" title="宣传图片1">
						<div class="pad grew">
							<span class="mui-pull-left"> <i class="ico22"></i> 新闻列表</span>
							<span class="mui-pull-right"> <i class="ico22"></i> 发布人</span>
						</div>
						<P class="mui-clearfix hei"></P>
						<div class="mui-clearfix pad grew">
							备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注</div>
						<P class="mui-clearfix hei"></P>
						<a href="${ctxPath}/phoneui/newsinfo" class="mui-btn mui-btn-block mui-btn-green ">去看看</a>
					</div>
				</div>

				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
			<div class="swiper-pagination"></div>
		</header>
	</div>
	<script src="${ctxPath}/static/assets/phoneui/js/swiper.min.js"></script> <script>
// 轮播  
var swiper = new Swiper('.swiper-container', {  
    loop : true,  
    pagination: '.swiper-pagination',  
    effect: 'coverflow',  
    grabCursor: true,  
    centeredSlides: true,  
    nextButton: '.swiper-button-next',  
    prevButton: '.swiper-button-prev',  
    slidesPerView: 'auto',  
	paginationType: 'fraction',
    coverflow: {  
        rotate: 0,// 旋转的角度  
        stretch: 100,// 拉伸   图片间左右的间距和密集度  
        depth: 120,// 深度   切换图片间上下的间距和密集度  
        modifier: 5,// 修正值 该值越大前面的效果越明显  
        slideShadows : true// 页面阴影效果  
    }  
}); 
</script>
</body>
</html>