<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>登录</title>
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    
    <link href="${ctxPath}/static/assets/phoneui/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/Global.css" />
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/style.css">
    <script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/jquery.js" ></script>
    <script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/responsive.js" ></script>
    <script src="${ctxPath}/static/assets/phoneui/js/mui.min.js"></script>
    
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
    </head>
    <body class="login">
	<div class="banner"> <img src="${ctxPath}/static/assets/phoneui/img/login.jpg" width="100%" /> </div>
	<div class="content mid">
      <form action="${ctxPath}/phoneui/usercenter">
		    <div class="log">
		         <div class="form-input"> <input type="text" placeholder="E-mail" id="num"  class="font-avenir"/></div>
		         <div class="form-input"> <input type="password" placeholder="Password" id="psd" class="font-avenir"/></div>
	        </div>
	  
	      <div class="hei"></div>
	      <div class="login_btn">
		    <input type="submit" value="登 录" class="ok font-avenir">
		  </div>
	  
	  </form>
	  <div class="hei"></div>
      <div class="mywidth mui-text-center font-avenir" onclick="location.href='${ctxPath}/phoneui/reg'">
	    <p>还没有注册？ 请先去注册>>></p>
	  </div>
    </div>
</body>
</html>