<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>新闻详情</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
	
<link href="${ctxPath}/static/assets/phoneui/css/mui.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="${ctxPath}/static/assets/phoneui/css/icons-extra.css" />
<link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/Global.css" />
<link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/style.css">
<script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/jquery.js" ></script>
<script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/responsive.js" ></script>
<script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/swiper.min.js" ></script>
<script src="${ctxPath}/static/assets/phoneui/js/mui.min.js"></script>
<script type="text/javascript" charset="utf-8">
 	mui.init({
 		swipeBack:true //启用右滑关闭功能
 	});
 
</script>
    
<style>
.content .swiper-slide {
	padding: 0 20px;
	width: auto;
}
.swiper-slide {
	color: #999
}
#header {
	width: 100%;
	overflow: hidden;
	background: #000 !important;
}
/* .mui-bar{
	background: #000 !important;
} */
</style>
</head>
<body class="info mbsc-fr-lock">

<header class="mui-bar mui-bar-nav " style="background: #000;">
	<a class="mui-icon mui-icon-back"></a>
   	<h1 class="mui-title">新闻详情</h1>
    <a href="${ctxPath}/phoneui/usercenter" class="mui-icon mui-icon-person right"></a>
</header>
    


<div class="heihead"></div>
<div class="content "> 
  <script type="text/javascript">
window.onload = function() {
  var mySwiper1 = new Swiper('#header',{
	  freeMode : true,
	  slidesPerView : 'auto',
	  freeModeSticky : true ,
  });
  
  
}
</script>
  <div class="mui-content">
    <ul class="mui-table-view">
      <li class="mui-table-view-cell mui-media"> <a href="javascript:;"> <img class="mui-media-object mui-pull-left" src="${ctxPath}/static/assets/phoneui/img/headc.png">
        <div class="mui-media-body">
          <p class="black"><big>小菲菲</big></p>
          <p><i class="ico5"></i><small>07-10 12:25</small></p>
          <p class="hei"></p>
          <p class="mui-ellipsis">某某路交通事故某某路交通事故某某路交通事故某某路交通事故某某路交通事故</p>
          <p class="hei"></p>
          <p><img src="${ctxPath}/static/assets/phoneui/img/user_06.jpg" width="100%"></p>
          <p class="hei"></p>
          <p><!-- <span class="red"><i class="ico6"></i>356</span> &nbsp;&nbsp; --><span><i class="ico8"></i>2</span> <span class="right"><!-- <i class="ico7"></i> 24 --></span></p>
        </div>
        </a> 
        <p class="hei"></p>
        <DIV class="addmsg on">
         <span class="mui-icon mui-icon-plusempty"></span><textarea id="textarea" rows="1" placeholder="发表你的看法"></textarea>
        </DIV>
        </li>
      
      <li class="mui-table-view-cell mui-media"> <a href="javascript:;"> <img class="mui-media-object mui-pull-left" src="${ctxPath}/static/assets/phoneui/img/headc.png">
        <div class="mui-media-body">
          <p class="black">部门I <span class="right grew"><i class="ico5"></i><small>12 m</small></span></p>
         
          <p class="hei"></p>
          <p class="mui-ellipsis">处理中……</p>
         
        </div>
        </a> 
        <p class="hei"></p>
        <div class="addmsg ">
         <span class="mui-icon mui-icon-plusempty"></span><textarea id="textarea" rows="1" placeholder="commm"></textarea>
        </div>
        </li>
        
       <li class="mui-table-view-cell mui-media"> <a href="javascript:;"> <img class="mui-media-object mui-pull-left" src="${ctxPath}/static/assets/phoneui/img/headc.png">
        <div class="mui-media-body">
          <p class="black">部门II <span class="right grew"><i class="ico5"></i><small>12 m</small></span></p>
         
          <p class="hei"></p>
          <p class="mui-ellipsis">处理中……</p>
         
        </div>
        </a> 
        <p class="hei"></p>
        <DIV class="addmsg ">
         <span class="mui-icon mui-icon-plusempty"></span><textarea id="textarea" rows="1" placeholder="commm"></textarea>
        </DIV>
        </li>
    </ul>
  </div>
</div>
<div class="heihead"></div>
<nav class="mui-bar mui-bar-tab foot">
	<a class="mui-tab-item mui-active" >
		
		<span class="mui-icon mui-icon-eye"></span>
  		<p>核实</p>
  	</a> 
  	<a class="mui-tab-item" href="#">
  		<span class="mui-icon mui-icon-flag"></span>
  		<p>批示</p>
  	</a>
  	<a class="mui-tab-item " href="#">
  		<span class="mui-icon mui-icon-redo"></span>
  		<p>转办</p>
  	</a>
  	<a class="mui-tab-item" href="#">
  		<span class="mui-icon mui-icon-compose"></span>
  		<p>意见</p>
  	</a>
 </nav>
</body>

<!-- 返回上一步操作 -->
<script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/back.js" ></script>
</html>