<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>处理中心</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
	
<link href="${ctxPath}/static/assets/phoneui/css/mui.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/swiper.min.css">
<link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/Global.css" />
<link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/style.css">
<script src="${ctxPath}/static/assets/phoneui/js/mui.min.js"></script> 

<script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/responsive.js" ></script>
<script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/swiper.min.js" ></script>
<style>
.content .swiper-slide {
	padding: 0 20px;
	width: auto;
}
.swiper-slide {
	color: #999
}
#header {
	width: 100%;
	overflow: hidden
}
</style>
</head>
<body class="chat mbsc-fr-lock">
<header class="mui-bar mui-bar-nav bgh"> <a class="mui-icon mui-icon-back"></a>
  <h1 class="mui-title">处理中心</h1>
  <a class="mui-icon mui-icon-search right"></a> </header>
<div class="heihead"></div>

<div class="content ">
  <div id="header">

    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">  <div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
      <div class="swiper-slide "><a class="mui-control-item mui-active" href="#item1mobile"><small>今日</small></a></div>
      <div class="swiper-slide"><a class="mui-control-item"  href="#item2mobile"><small>昨日</small></a></div>
      <div class="swiper-slide"><a class="mui-control-item" href="#item3mobile"><small>本周</small></a></div>
      <div class="swiper-slide"><a class="mui-control-item" href="#item4mobile"><small>本月</small></a></div>
    </div>
    </div>  
  </div>


  <script type="text/javascript">
window.onload = function() {
  var mySwiper1 = new Swiper('#header',{
	  freeMode : true,
	  slidesPerView : 'auto',
	  freeModeSticky : true ,
  });
  
  
}
</script>
  <div class="mui-content">
  <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
    <div class="event pad">
      <div class="ev">
        <div class="mui-text-center">某某213路发生特大交通事故</div>
        <div> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left bodr"><img class="mui-media-object mui-pull-left tx2" src="${ctxPath}/static/assets/phoneui/img/headc.png">
          <div class="mui-media-body padl">
            <p class="black " style="padding-top:.5rem" > <span class="padl mui-pull-left">主办</span></p>
          </div>
          </span> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left padl"> <small class="grew">完成时间</small>
          <p class="black">6:00 AM<span class="ico20"></span></p>
          </span> </div>
        <p class="mui-clearfix"></p>
        <div> <small class="grew">备注</small>
          <p class="black">深南中路，交通事故造成3人受伤，现场发生塌陷<span class="mui-icon mui-icon-location-filled grew2  right"></span></p>
        </div>
      </div>
      <div class="ev">
        <div class="mui-text-center">某某路发生特大交通事故</div>
        <div> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left bodr"><img class="mui-media-object mui-pull-left tx2" src="${ctxPath}/static/assets/phoneui/img/headc.png">
          <div class="mui-media-body padl">
            <p class="black " style="padding-top:.5rem" > <span class="padl mui-pull-left">主办</span></p>
          </div>
          </span> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left padl"> <small class="grew">完成时间</small>
          <p class="black">6:00 AM<span class="ico20"></span></p>
          </span> </div>
        <p class="mui-clearfix"></p>
        <div> <small class="grew font-sm">备注</small>
          <p class="black">深南中路，交通事故造成3人受伤，现场发生塌陷<span class="mui-icon mui-icon-location-filled grew2  right"></span></p>
        </div>
      </div>
      <div class="ev">
        <div class="mui-text-center">某某路发生特大交通事故</div>
        <div> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left bodr"><img class="mui-media-object mui-pull-left tx2" src="${ctxPath}/static/assets/phoneui/img/headc.png">
          <div class="mui-media-body padl">
            <p class="black " style="padding-top:.5rem" > <span class="padl mui-pull-left">主办</span></p>
          </div>
          </span> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left padl"> <small class="grew">完成时间</small>
          <p class="black">6:00 AM<span class="ico20"></span></p>
          </span> </div>
        <p class="mui-clearfix"></p>
        <div> <small class="grew">备注</small>
          <p class="black">深南中路，交通事故造成3人受伤，现场发生塌陷<span class="mui-icon mui-icon-location-filled grew2  right"></span></p>
        </div>
      </div>
      </div>
    </div>
    
    <div id="item2mobile" class="mui-slider-item mui-control-content ">
    <div class="event pad">
      <div class="ev">
        <div class="mui-text-center">某某路213123发生特大交通事故</div>
        <div> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left bodr"><img class="mui-media-object mui-pull-left tx2" src="${ctxPath}/static/assets/phoneui/img/headc.png">
          <div class="mui-media-body padl">
            <p class="black " style="padding-top:.5rem" > <span class="padl mui-pull-left">主办</span></p>
          </div>
          </span> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left padl"> <small class="grew">完成时间</small>
          <p class="black">6:00 AM<span class="ico20"></span></p>
          </span> </div>
        <p class="mui-clearfix"></p>
        <div> <small class="grew">备注</small>
          <p class="black">深南中路，交通事故造成3人受伤，现场发生塌陷<span class="mui-icon mui-icon-location-filled grew2  right"></span></p>
        </div>
      </div>
      <div class="ev">
        <div class="mui-text-center">某某路发生特大交通事故</div>
        <div> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left bodr"><img class="mui-media-object mui-pull-left tx2" src="${ctxPath}/static/assets/phoneui/img/headc.png">
          <div class="mui-media-body padl">
            <p class="black " style="padding-top:.5rem" > <span class="padl mui-pull-left">主办</span></p>
          </div>
          </span> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left padl"> <small class="grew">完成时间</small>
          <p class="black">6:00 AM<span class="ico20"></span></p>
          </span> </div>
        <p class="mui-clearfix"></p>
        <div> <small class="grew font-sm">备注</small>
          <p class="black">深南中路，交通事故造成3人受伤，现场发生塌陷<span class="mui-icon mui-icon-location-filled grew2  right"></span></p>
        </div>
      </div>
      <div class="ev">
        <div class="mui-text-center">某某路发生124特大交通事故</div>
        <div> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left bodr"><img class="mui-media-object mui-pull-left tx2" src="${ctxPath}/static/assets/phoneui/img/headc.png">
          <div class="mui-media-body padl">
            <p class="black " style="padding-top:.5rem" > <span class="padl mui-pull-left">主办</span></p>
          </div>
          </span> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left padl"> <small class="grew">完成时间</small>
          <p class="black">6:00 AM<span class="ico20"></span></p>
          </span> </div>
        <p class="mui-clearfix"></p>
        <div> <small class="grew">备注</small>
          <p class="black">深南中路，交通事故造成3人受伤，现场发生塌陷<span class="mui-icon mui-icon-location-filled grew2  right"></span></p>
        </div>
      </div>
      </div>
    </div>
    
    <div id="item3mobile" class="mui-slider-item mui-control-content ">
    <div class="event pad">
      <div class="ev">
        <div class="mui-text-center">某某路发生特55大交通事故</div>
        <div> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left bodr"><img class="mui-media-object mui-pull-left tx2" src="${ctxPath}/static/assets/phoneui/img/headc.png">
          <div class="mui-media-body padl">
            <p class="black " style="padding-top:.5rem" > <span class="padl mui-pull-left">主办</span></p>
          </div>
          </span> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left padl"> <small class="grew">完成时间</small>
          <p class="black">6:00 AM<span class="ico20"></span></p>
          </span> </div>
        <p class="mui-clearfix"></p>
        <div> <small class="grew">备注</small>
          <p class="black">深南中路，交通事故造成3人受伤，现场发生塌陷<span class="mui-icon mui-icon-location-filled grew2  right"></span></p>
        </div>
      </div>
      <div class="ev">
        <div class="mui-text-center">某某路发生特大交通事故</div>
        <div> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left bodr"><img class="mui-media-object mui-pull-left tx2" src="${ctxPath}/static/assets/phoneui/img/headc.png">
          <div class="mui-media-body padl">
            <p class="black " style="padding-top:.5rem" > <span class="padl mui-pull-left">主办</span></p>
          </div>
          </span> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left padl"> <small class="grew">完成时间</small>
          <p class="black">6:00 AM<span class="ico20"></span></p>
          </span> </div>
        <p class="mui-clearfix"></p>
        <div> <small class="grew font-sm">备注</small>
          <p class="black">深南中路，交通事故造成3人受伤，现场发生塌陷<span class="mui-icon mui-icon-location-filled grew2  right"></span></p>
        </div>
      </div>
      <div class="ev">
        <div class="mui-text-center">某某路发生特大交通事故</div>
        <div> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left bodr"><img class="mui-media-object mui-pull-left tx2" src="${ctxPath}/static/assets/phoneui/img/headc.png">
          <div class="mui-media-body padl">
            <p class="black " style="padding-top:.5rem" > <span class="padl mui-pull-left">主办</span></p>
          </div>
          </span> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left padl"> <small class="grew">完成时间</small>
          <p class="black">6:00 AM<span class="ico20"></span></p>
          </span> </div>
        <p class="mui-clearfix"></p>
        <div> <small class="grew">备注</small>
          <p class="black">深南中路，交通事故造成3人受伤，现场发生塌陷<span class="mui-icon mui-icon-location-filled grew2  right"></span></p>
        </div>
      </div>
      </div>
    </div>
    
    <div id="item4mobile" class="mui-slider-item mui-control-content ">
    <div class="event pad">
      <div class="ev">
        <div class="mui-text-center">某某路发生特大交通事故</div>
        <div> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left bodr"><img class="mui-media-object mui-pull-left tx2" src="${ctxPath}/static/assets/phoneui/img/headc.png">
          <div class="mui-media-body padl">
            <p class="black " style="padding-top:.5rem" > <span class="padl mui-pull-left">主办</span></p>
          </div>
          </span> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left padl"> <small class="grew">完成时间</small>
          <p class="black">6:00 AM<span class="ico20"></span></p>
          </span> </div>
        <p class="mui-clearfix"></p>
        <div> <small class="grew">备注</small>
          <p class="black">深南中路，交通事故造成3人受伤，现场发生塌陷<span class="mui-icon mui-icon-location-filled grew2  right"></span></p>
        </div>
      </div>
      <div class="ev">
        <div class="mui-text-center">某某路发生特大交通事故</div>
        <div> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left bodr"><img class="mui-media-object mui-pull-left tx2" src="${ctxPath}/static/assets/phoneui/img/headc.png">
          <div class="mui-media-body padl">
            <p class="black " style="padding-top:.5rem" > <span class="padl mui-pull-left">主办</span></p>
          </div>
          </span> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left padl"> <small class="grew">完成时间</small>
          <p class="black">6:00 AM<span class="ico20"></span></p>
          </span> </div>
        <p class="mui-clearfix"></p>
        <div> <small class="grew font-sm">备注</small>
          <p class="black">深南中路，交通事故造成3人受伤，现场发生塌陷<span class="mui-icon mui-icon-location-filled grew2  right"></span></p>
        </div>
      </div>
      <div class="ev">
        <div class="mui-text-center">某某路发生特大交通事故</div>
        <div> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left bodr"><img class="mui-media-object mui-pull-left tx2" src="${ctxPath}/static/assets/phoneui/img/headc.png">
          <div class="mui-media-body padl">
            <p class="black " style="padding-top:.5rem" > <span class="padl mui-pull-left">主办</span></p>
          </div>
          </span> <span class="mui-col-xs-6 mui-col-sm-6 mui-pull-left padl"> <small class="grew">完成时间</small>
          <p class="black">6:00 AM<span class="ico20"></span></p>
          </span> </div>
        <p class="mui-clearfix"></p>
        <div> <small class="grew">备注</small>
          <p class="black">深南中路，交通事故造成3人受伤，现场发生塌陷<span class="mui-icon mui-icon-location-filled grew2  right"></span></p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/jquery-1.11.2.min.js" ></script>


</body>
</html>