<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>个人资料</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />

    <link href="${ctxPath}/static/assets/phoneui/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/Global.css" />
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/style.css">
    <script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/jquery.js" ></script>
    <script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/responsive.js" ></script>
    <script src="${ctxPath}/static/assets/phoneui/js/mui.min.js"></script>
    
    <script type="text/javascript" charset="utf-8">
      	mui.init({
      		swipeBack:true //启用右滑关闭功能
      	});
      
    </script>
   
    </head>
    <body class="informationa mbsc-fr-lock">
    <header class="mui-bar mui-bar-nav">
    	<a class="mui-icon mui-icon-back"></a>
      	<h1 class="mui-title">基本资料</h1>
    </header>
    <div class="heihead"></div>
	<div class="banner"><img src="${ctxPath}/static/assets/phoneui/img/load.jpg" width="100%"> </div>
	<div class="content ">
	      <div class="mui-content">
		    <div class="perinformation">
	          <input type="text" placeholder="昵称"  class="font-avenir">
	        </div>
		    <div class="perinformation">
	          <input type="text" placeholder="手机"  class="font-avenir">
	        </div>
		    <div class="perinformation">
	          <input type="text" placeholder="邮箱"  class="font-avenir">
	        </div>
		    <div class="perinformation">
	          <input type="text" placeholder="性别"  class="font-avenir">
	        </div>
		    <div class="perinformation">
	          <input type="text" placeholder="所属部门"  class="font-avenir">
	        </div>
		  </div>
	      <div class="hei"></div>
	      <div class="hei"></div>
	      <div class="login_btn mid">
	    <input type="submit" value="保存" class="ok font-fjallaone" >
	  </div>
    </div>
</body>

<!-- 返回上一步操作 -->
<script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/back.js" ></script>
</html>