<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>个人中心</title>
    <link href="${ctxPath}/static/assets/phoneui/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/Global.css" />
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/style.css">
    <script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/jquery.js" ></script>
    <script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/responsive.js" ></script>
    <script src="${ctxPath}/static/assets/phoneui/js/mui.min.js"></script>
   
	
	<style>
		body{
			background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f6f9f9), to(#d3d3d4));
		}
		

		.banner{
		    text-align: center;
		    padding-top: 14%;
		    padding-bottom: 1%;
		    box-shadow: 7px 1px 39px #c3bdbd;
		}
		.mui-table-view-cell>.mui-badge, .mui-table-view-cell>.mui-btn, .mui-table-view-cell>.mui-switch, .mui-table-view-cell>a>.mui-badge, .mui-table-view-cell>a>.mui-btn, .mui-table-view-cell>a>.mui-switch{
			top:10%;
			right: -9px;
		}
		
	
	</style>
</head>
<body class="home">

	<input type="hidden" id="initData" value='${initData!}'>
	<script type="text/javascript">
		var initData = {};
		if($("#initData").val())initData = jQuery.parseJSON($("#initData").val());
	</script>
	
	
	
	<header class="mui-bar mui-bar-nav">
		<a  href="${ctxPath}/phoneui/setting" class="mui-icon mui-icon-gear-filled"></a>
		<h1 class="mui-title">个人中心</h1>
	</header>
	
	
	
	
	
	
	<div class="mui-content" style="background:-webkit-gradient(linear, 0 0, 0 bottom, from(#f6f9f9), to(#d3d3d4))">
		<div class="banner">
			<img src="${authenticationFn().userDto.headimgurl}" width="100%" style="box-shadow:7px 1px 39px #c3bdbd;border-radius:80px;width: 100px;height: 100px;" />
		</div>
		<div class="mui-text-center u-text pad">
			<h1 class="font-avenir departmentname" style="color: #536a78; padding: .4rem 0"></h1>
		</div>
		<ul class="mui-table-view mui-grid-view mui-grid-9">
			
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="${ctxPath}/phoneui/listnewsblock">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u5.png" width="90%"></P>
					<div class="mui-media-body">新闻</div>
				</a>
			</li>
			
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="javscript:void(0);" class="daikaifang">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u1.png" width="90%"></P>
					<div class="mui-media-body">安全</div>
				</a>
			</li>
			
			
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="${ctxPath}/phoneui/message">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u3.png" width="90%"></P>
					<span class="mui-badge mui-badge-danger">45</span>
					<div class="mui-media-body">消息</div>
				</a>
			</li>
			
			
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="${ctxPath}/phoneui/listopinionsblock">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u6.png" width="90%"></P>
					<div class="mui-media-body">舆情</div>
				</a>
			</li>
			
			
			
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="${ctxPath}/phoneui/tomashangeCenter" >
					<P><img src="${ctxPath}/static/assets/phoneui/img/u2.png" width="90%"></P>
					<div class="mui-media-body">马上办</div>
				</a>
			</li>
			
			
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="${ctxPath}/phoneui/listgroups">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u8.png" width="90%"></P>
					<div class="mui-media-body">讨论组</div>
				</a>
			</li>
			
			
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="javscript:void(0);" class="daikaifang">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u11.png" width="90%"></P>
					<div class="mui-media-body">信访</div>
				</a>
			</li>
			
			
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="${ctxPath}/book/book">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u10.png" width="90%"></P>
					<div class="mui-media-body">通讯录</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="${ctxPath}/phoneui/setting">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u7.png" width="90%"></P>
					<div class="mui-media-body">设置</div>
				</a>
			</li>
			
			
			
		</ul>
	</div>
</body>


 <script>
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
		mui('.mui-scroll-wrapper').scroll();
		mui('body').on('shown', '.mui-popover', function(e) {
			//console.log('shown', e.detail.id);//detail为当前popover元素
		});
		mui('body').on('hidden', '.mui-popover', function(e) {
			//console.log('hidden', e.detail.id);//detail为当前popover元素
		});
		
		mui('body').on('tap','a',function(){document.location.href=this.href;});
		
		mui('body').on('tap','.daikaifang',function(){
			
			mui.alert("攻城狮正在血战……", '助手', function() {
				
			});
		});
		
		 function listFormatter(columnDef, value){
		     	var _items = initData[columnDef.id];
		     	 for(var i = 0;i < _items.length;i++){
		     		 var j = _items[i];
		   				 if(j["id"] == value){
		   					 return j["label"];
		   				 }
		     	 }
		     }
		 $(document).ready(function() {
			 $(".departmentname").html(listFormatter({id:"departments"},"${authenticationFn().userDto.departmentId}"));
		 });
	</script>
	
</html>