<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>个人中心</title>
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
	
    <link href="${ctxPath}/static/assets/phoneui/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/Global.css" />
    <link rel="stylesheet" href="${ctxPath}/static/assets/phoneui/css/style.css">
    <script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/jquery.js" ></script>
    <script type="text/javascript" src="${ctxPath}/static/assets/phoneui/js/responsive.js" ></script>
    <script src="${ctxPath}/static/assets/phoneui/js/mui.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head>
<body class="home">
	<header class="mui-bar mui-bar-nav">
		<a  href="${ctxPath}/phoneui/setting" class="mui-icon mui-icon-gear-filled"></a>
		<h1 class="mui-title">个人中心</h1>
		<a href="${ctxPath}/phoneui/userinfo" class="mui-icon mui-icon-person right"></a>
	</header>
	<div class="heihead"></div>
	<div class="mui-content">
		<div class="banner">
			<img src="${ctxPath}/static/assets/phoneui/img/user_06.jpg" width="100%" />
		</div>
		<div class="mui-text-center u-text pad">
			<h1 class="font-avenir" style="color: #536a78; padding: .4rem 0">区委宣传部</h1>
			<!-- <p class="grew">
				San fanctisd,co<br> 26years
			</p> -->
		</div>
		<ul class="mui-table-view mui-grid-view mui-grid-9">
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="#">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u1.jpg" width="90%"></P>
					<div class="mui-media-body">安全</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="#">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u2.jpg" width="90%"></P>
					<div class="mui-media-body">马上办</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="#">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u3.jpg" width="90%"></P>
					<div class="mui-media-body">信访</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="${ctxPath}/phoneui/listnewsblock">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u5.jpg" width="90%"></P>
					<div class="mui-media-body">新闻</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="${ctxPath}/phoneui/message">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u4.jpg" width="90%"></P>
					<div class="mui-media-body">消息中心</div>
				</a>
			</li>
			
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="${ctxPath}/phoneui/todolist">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u6.jpg" width="90%"></P>
					<div class="mui-media-body">待办事项</div>
				</a>
			</li>
			
		
			
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
				<a href="${ctxPath}/phoneui/listgroups">
					<P><img src="${ctxPath}/static/assets/phoneui/img/u6.jpg" width="90%"></P>
					<div class="mui-media-body">讨论组</div>
				</a>
			</li>
			
			
		</ul>
	</div>
</body>
</html>