<div class="row">
	<div class="col-md-12">
		<div class="portlet light portlet-fit portlet-datatable ">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-settings font-dark"></i> <span class="caption-subject font-dark sbold uppercase">信息管理</span>
				</div>
				<div class="actions">
					<div class="margin-bottom-5">
						<button class="btn btn-sm btn-success filter-submit margin-bottom">
							<i class="fa fa-search"></i> 查询
						</button>
					</div>
				</div>
			</div>

				<div class="portlet-body">
					<div class="table-container">
						<table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
							<thead>
								<tr role="row" class="heading">
									<th width="20%">主题</th>
									<th width="15%">类别</th>
									<th width="15%">等级</th>
									<th width="20%">发布时间</th>
									<th width="10%">核实状态</th>
									<th width="10%">处理状态</th>
								</tr>
								<tr role="row" class="filter">
									<td><input type="text" class="form-control form-filter input-sm" columnName="opinionModel.subject" operation="like"></td>
									<td><select id="categoryIds" class="form-control  form-filter selectpicker" columnName="opinionModel.categoryId"></select></td>
									<td><select id="levelIds" class="form-control  form-filter selectpicker" columnName="opinionModel.levelId"></select></td>
									<td>
										<div class="form-group" style="margin-bottom: 0px;">
											<div class="input-group input-large date-picker input-daterange" data-date="2012-11-10" data-date-format="yyyy-mm-dd">
												<input type="text" class="form-control form-filter" name="opinionModel.publishDate" operation=">="> <span class="input-group-addon"> to </span> <input type="text" class="form-control form-filter" name="opinionModel.publishDate" operation="<=">
											</div>
										</div>
									</td>
									<td><select class="form-control  form-filter selectpicker" columnName="opinionModel.status">
											<option value="" selected="selected">请选择...</option>
											<option value="-1">待核实</option>
											<option value="1">核实中</option>
											<option value="2">已核实</option>
											<option value="3">已转办</option>
											<option value="10">归档</option>

									</select></td>
									<td><select class="form-control  form-filter selectpicker" columnName="opinionModel.toDoStatus">
											<option value="" selected="selected">请选择...</option>
											<option value="4">待处理</option>
											<option value="5">处理中</option>
											<option value="6">处理完成</option>
											<option value="7">无法处理</option>
									</select></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="8">
										<div id="slickGrid" class="grid"></div>
										<div id="pager" class="om-grid om-widget om-widget-content" style="width: 100%; height: 30px;"></div>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>

			</div>
			</div>
			</div>


			<!-- /.编辑信息 -->
			<div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">信息</h4>
						</div>
						<div class="modal-body">
							<div class="portlet-body form">
								<form action="#" class="horizontal-form" id="validationForm">
									<input type="hidden" class="form-control columnName" columnName="opinionModel.id">
									<div class="form-body">
										<h3 class="form-section batchHidden" style="margin-top: 0px;">基本信息</h3>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>标题</label> <input type="text" name="subject" class="form-control columnName" columnName="opinionModel.subject">
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>类别</label> <select class="form-control selectpicker columnName" controlType="select" name="categoryId" id="categoryIds2" columnName="opinionModel.categoryId">
													</select>
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>等级</label> <select class="form-control selectpicker columnName" controlType="select" name="levelId" id="levelIds2" columnName="opinionModel.levelId">
													</select>
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>是否需要核实</label> <select class="form-control selectpicker columnName" controlType="select" name="needVerify" columnName="opinionModel.needVerify">
														<option value="" selected="selected">请选择...</option>
														<option value="1">是</option>
														<option value="-1">否</option>
													</select>
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>来源</label> <select class="form-control selectpicker columnName" controlType="select" name="sourceId" id="sourceIds2" columnName="opinionModel.sourceId">
													</select>
												</div>
											</div>




											<div class="col-md-6">
												<div class="form-group">
													<label>是否公开</label> <select class="form-control selectpicker columnName" controlType="select" name="isPublic" columnName="opinionModel.isPublic">
														<option value="" selected="selected">请选择...</option>
														<option value="1">是</option>
														<option value="-1">否</option>
													</select>
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>备注</label> <input type="text" name="memo" class="form-control columnName" columnName="opinionModel.memo">
												</div>
											</div>

											<div class="col-md-12">
												<div class="form-group">
													<script type="text/pain" id="deitor" name="ceshi"></script>
													<!-- <label>内容</label> <input type="text" name="content" class="form-control columnName" columnName="opinionModel.content"> -->
												</div>
											</div>


										</div>

									</div>
								</form>
							</div>
						</div>


						<div class="modal-footer">
							<button type="button" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
						</div>

					</div>
				</div>
			</div>



			<!-- /.发起核实-->
			<div class="modal fade bs-modal-sm" id="small" tabindex="1" role="dialog" aria-labelledby="mySmallModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">信息</h4>
						</div>
						<div class="modal-body">
							<div id="slickGrid2" class="grid" style="overflow: hidden; width: 580px;"></div>
						</div>
					</div>
				</div>
			</div>


			<div class="modal fade bs-modal-sm" id="small2" tabindex="1" role="dialog" aria-labelledby="mySmallModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">信息</h4>
						</div>
						<div class="modal-body">
							<input type="hidden" class="form-control columnName" id="opinionToDoModelOpinionId" columnName="opinionToDoModel.opinionId">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>主办部门</label> <select class="form-control selectpicker " controlType="select" id="mainTodo">
										</select>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label>协办部门</label> <select class="form-control selectpicker columnName" controlType="select" id="subTodo" multiple>
										</select>
									</div>
								</div>
							</div>

						</div>

						<div class="modal-footer">
							<button type="button" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
							<button type="button" class="btn green" id="saveForm2">保存</button>
						</div>

					</div>
				</div>
			</div>

			<script>
				var myDataView, myGrid, pager, myDataView2, myGrid2, ue;
				$(window).resize(function() {
					$("#slickGrid").width($("#slickGrid").parent().width());
					$("#slickGrid").height($(document).height() - 380);
					if (myGrid) {
						myGrid.resizeCanvas();
					}

				});
				
			    var setting2 = {
			  			check: {
			  				enable: true
			  			},
			  			data: {
			  				simpleData: {
			  					enable: true
			  				}
			  			}
			  		};
				
				$(document).ready(function() {
					$(window).resize();
					selectInit("#mainTodo", "departments");
					selectInit("#subTodo", "departments");
					
					ue = UE.getEditor('deitor');


					selectInitList("#categoryIds", "lists", 1);
					selectInitList("#categoryIds2", "lists", 1);
					selectInitList("#levelIds", "lists", 2);
					selectInitList("#levelIds2", "lists", 2);
					selectInitList("#sourceIds2", "lists", 3);

					var validationForm = $("#validationForm");
					validationForm.validate({
						errorElement : 'span', //default input error message container
						errorClass : 'help-block help-block-error', // default input error message class
						rules : {
							subject : {
								rangelength : [ 2, 50 ],
								required : true
							},
							categoryId : {
								required : true
							},
							levelId : {
								required : true
							},
							needVerify : {
								required : true
							},
							sourceId : {
								required : true
							},
							isPublic : {
								required : true
							}
						}
					});

					$(".add-submit").bind("click", function() {
						$('#large').modal('show');
						formClear({
							filter : "#validationForm .columnName"
						})
					});

					$(".filter-submit").bind("click", function() {
						var filterParameters = [];
						$(".form-filter").each(function() {
							if ($(this).val() != "") {
								var _operation = $(this).attr("operation");
								if (!_operation)
									_operation = "=";
								filterParameters.push({
									property : $(this).attr("columnName"),
									value : $(this).val(),
									operation : _operation
								});
							}
						});
						filterParameters.push({
							property : "opinionModel.enabled",
							value : "1",
							operation : "="
						});
						
						filterParameters.push({
							property : "opinionModel.type",
							value : "${session.opinionType!}",
							operation : "="
						});
						
						pager.setSearch(filterParameters);
						pager.setSort([ {
							"property" : "opinionModel.id",
							"order" : "desc"
						} ]);
						pager.reload();
					});

					myDataView = new Slick.Data.DataView({
						inlineFilters : true
					});
					myDataView.setItems([]);
					var options = {
						editable : false,
						enableAddRow : false,
						enableCellNavigation : true,
						enableColumnReorder : true,
						asyncEditorLoading : false,
						forceFitColumns : false,
						forceSyncScrolling : false,
						rowHeight : 30
					}

					var checkboxSelector = new Slick.CheckboxSelectColumn({
						cssClass : "slick-cell-checkboxsel"
					});

					var columnsSortable = [ checkboxSelector.getColumnDefinition(), {
						id : "subject",
						name : "主题",
						field : "subject",
						width : 150,
						sortable : true,
						formatter : function(row, cell, value, columnDef, dataContext) {
							return "<a href='javascript:initEditData(\"" + row + "\");'  >" + value + "</a>";
						}
					}, {
						id : "lists",
						name : "类别",
						field : "categoryId",
						formatter : listFormatter,
						width : 100,
						sortable : true
					}, {
						id : "lists",
						name : "等级",
						field : "levelId",
						width : 100,
						formatter : listFormatter,
						sortable : true
					}, {
						id : "createdDate",
						name : "创建时间",
						field : "createdDate",
						width : 150,
						formatter : dateFormatter,
						sortable : true
					}, {
						id : "displayName",
						name : "发布者",
						field : "displayName",
						width : 100,
						sortable : false
					}, {
						id : "lists",
						name : "来源",
						field : "sourceId",
						width : 100,
						formatter : listFormatter,
						sortable : true
					}, {
						id : "status",
						name : "状态",
						field : "status",
						width : 100,
						formatter : function(row, cell, value, columnDef, dataContext) {
							if (value == "1") {
								return "核实中";
							} else if (value == "2") {
								return "已核实";
							} else if (value == "3") {
								return "已转办";
							} else if (value == "10") {
								return "归档";
							} else {
								return "待核实";
							}

						},
						sortable : true
					}, {
						id : "toDoStatus",
						name : "回复状态",
						field : "toDoStatus",
						width : 100,
						formatter : function(row, cell, value, columnDef, dataContext) {
							if (value == "5") {
								return "处理中";
							} else if (value == "6") {
								return "处理完成";
							} else if (value == "7") {
								return "无法处理";
							} else {
								return "未执行";
							}
						},
						sortable : true
					}, {
						id : "hasInstruction",
						name : "是否批示",
						field : "hasInstruction",
						width : 100,
						formatter : function(row, cell, value, columnDef, dataContext) {
							if (value == "-1") {
								return "不含批示";
							} else {
								return "含批示";
							}
						},
						sortable : true
					}, {
						id : "#",
						name : "操作",
						field : "#",
						width : 300,
						formatter : function(row, cell, value, columnDef, dataContext) {
							var _content = [];
							var status = dataContext.status;
							var isVerify = dataContext.isVerify;
							var hasInstruction = dataContext.hasInstruction;
							_content.push(String.format("<a href='javascript:listVerifyFollerOpinion({0});'>{1}</a>&nbsp;&nbsp;", row, "查看核实"));
							_content.push(String.format("<a href='javascript:initTodo({0});'>{1}</a>&nbsp;&nbsp;", row, "发起转办"));
							_content.push(String.format("<a href='javascript:listTodoFollerOpinion({0});'>{1}</a>&nbsp;&nbsp;", row, "查看转办"));
							_content.push(String.format("<a href='javascript:listInstructionOpinion({0});'>{1}</a>&nbsp;&nbsp;", row, "查看批示"));
							_content.push(String.format("<a href='javascript:addOpinionUsers({0});'>{1}</a>&nbsp;&nbsp;", row, "添加跟进人员"));

							return _content.join("");
						}
					} ];
					myGrid = new Slick.Grid("#slickGrid", myDataView, columnsSortable, options);
					myGrid.setSelectionModel(new Slick.RowSelectionModel());
					myGrid.registerPlugin(new Slick.AutoTooltips({
						enableForHeaderCells : true
					}));
					myGrid.registerPlugin(checkboxSelector);
					pager = new Slick.Controls.Pager(myDataView, myGrid, $("#pager"), {
						pagesize : 100,
						url : "${ctxPath}/opinion/listOpinionByInstruction"
					});
					$(".filter-submit").trigger("click");

					myDataView.onPagingInfoChanged.subscribe(function(e, pagingInfo) {
					});

					myDataView.onRowCountChanged.subscribe(function(e, args) {
						myGrid.updateRowCount();
						myGrid.render();
					});

					myDataView.onRowsChanged.subscribe(function(e, args) {
						myGrid.invalidateRows(args.rows);
						myGrid.render();
					});

					myGrid.onSort.subscribe(function(e, args) {
						var sorts = [];
						sorts.push({
							"property" : args.sortCol.field,
							"order" : args.sortAsc == true ? "asc" : "desc"
						});
						pager.setSort(sorts);
						$(".filter-submit").trigger("click");
					});

					myGrid.onScroll.subscribe(function(e, args) {
					});

					myGrid.onAddNewRow.subscribe(function(e, args) {
						var item = args.item;
						myGrid.invalidateRow(mainData.length);
						mainData.push(item);
						myGrid.updateRowCount();
						myGrid.render();
					});

					myDataView2 = new Slick.Data.DataView({
						inlineFilters : true
					});
					myDataView2.setItems([]);
					var columnsSortable2 = [ {
						id : "displayName",
						name : "参加者",
						field : "displayName",
						width : 140,
						sortable : false
					}, {
						id : "departmentName",
						name : "部门",
						field : "departmentName",
						width : 140,
						sortable : false
					}, {
						id : "createdDate",
						name : "时间",
						field : "createdDate",
						width : 150,
						formatter : dateFormatter,
						sortable : false
					}, {
						id : "memo",
						name : "内容",
						field : "memo",
						width : 250,
						sortable : false
					} ];

					myGrid2 = new Slick.Grid("#slickGrid2", myDataView2, columnsSortable2, options);
					myGrid2.setSelectionModel(new Slick.RowSelectionModel());
					myGrid2.registerPlugin(new Slick.AutoTooltips({
						enableForHeaderCells : true
					}));
					myDataView2.onPagingInfoChanged.subscribe(function(e, pagingInfo) {
					});

					myDataView2.onRowCountChanged.subscribe(function(e, args) {
						myGrid2.updateRowCount();
						myGrid2.render();
					});

					myDataView2.onRowsChanged.subscribe(function(e, args) {
						myGrid2.invalidateRows(args.rows);
						myGrid2.render();
					});

					$("#saveForm").click(function() {
						if (validationForm.valid()) {
							var jsonData = {};

							$("#validationForm .columnName").each(function() {
								if ($(this).val() != "") {
									jsonData[$(this).attr("columnName")] = $(this).val();
								}
							});

							jsonData["opinionModel.content"] = ue.getContent();

							var _url = "${ctxPath}/opinion/saveOpinion";
							$.ajax({
								url : _url,
								type : "post",
								data : jsonData,
								success : function(data) {
									$('#large').modal('hide');
									if (data.success) {
										pager.reload();
									} else {
										toastr.error(data.error);
									}
								}
							});

						}
					});

					$("#saveForm2").click(function() {
							if($("#mainTodo").val() == ""){
								toastr.error("必须选主办部门");
							}else{
								var mainTodo = $("#mainTodo").val();
								var subTodo = $("#subTodo").val();
								var opinionToDoModelOpinionId = $("#opinionToDoModelOpinionId").val();
								
								var params = {
										data : {
											"opinionToDoModelOpinionId" : opinionToDoModelOpinionId,
											"mainTodo" : mainTodo,
											"subTodo":subTodo.toString()
										}
									};
									var _data = {
										data : JSON.stringify(params)
									};
								
									
									$.ajax({
										url : "${ctxPath}/opinion/toDoOpinion",
										type : "post",
										data : _data,
										success : function(data) {
											$('#small').modal('hide');
											if (data.success) {
												pager.reload();
											} else {
												toastr.error(data.error);
											}
										}
									});
							}
					});

				});

				function initEditData(id) {
					var _data = myDataView.getItemByIdx(id);
					formInit({
						filter : "#validationForm.columnName",
						data : _data,
						modelName : "opinionModel"
					});
					ue.setContent(_data.content);
					$('#large').modal('show');
				}
				function initVerify(id) {
					var _item = myDataView.getItemByIdx(id);
					var _items = initData["departments"];
					var inputOptions = [];
					for (var i = 0; i < _items.length; i++) {
						var j = _items[i];
						inputOptions.push({
							text : j.label,
							value : j.id
						});
					}

					bootbox.prompt({
						title : "请选择核实部门!",
						inputType : 'select',
						inputOptions : inputOptions,
						callback : function(result) {
							if (result) {
								var params = {
									data : {
										"id" : _item.id,
										"departmentId" : result
									}
								};
								var _data = {
									data : JSON.stringify(params)
								};
								$.ajax({
									url : "${ctxPath}/opinion/verifyOpinion",
									type : "post",
									data : _data,
									success : function(data) {
										$('#large').modal('hide');
										if (data.success) {
											pager.reload();
										} else {
											toastr.error(data.error);
										}
									}
								});
							}
							console.log(result);
						}
					});

				}

				function listVerifyFollerOpinion(id) {
					var _data = myDataView.getItemByIdx(id);

					var params = {
						data : {
							"opinionId" : _data["id"]
						}
					};

					var _item = {
						data : JSON.stringify(params)
					};

					$.ajax({
						url : "${ctxPath}/opinion/listVerifyFollerOpinion",
						type : "post",
						data : _item,
						success : function(data) {
							if (data.success) {
								myDataView2.setItems(data.data);
								myGrid2.render();
							}
							$('#small').modal('show');
						}
					});

				}

				function listTodoFollerOpinion(id) {
					var _data = myDataView.getItemByIdx(id);

					var params = {
						data : {
							"opinionId" : _data["id"]
						}
					};

					var _item = {
						data : JSON.stringify(params)
					};

					$.ajax({
						url : "${ctxPath}/opinion/listToDoFoller",
						type : "post",
						data : _item,
						success : function(data) {
							if (data.success) {
								myDataView2.setItems(data.data);
								myGrid2.render();
							}
							$('#small').modal('show');
						}
					});

				}

				function initTodo(id) {
					var _item = myDataView.getItemByIdx(id);
					var _items = initData["departments"];
					var inputOptions = [];
					for (var i = 0; i < _items.length; i++) {
						var j = _items[i];
						inputOptions.push({
							text : j.label,
							value : j.id
						});
					}
					$("#opinionToDoModelOpinionId").val(_item["id"]);
					$("#small2").modal('show');
				}

				function listInstructionOpinion(id) {
					var _data = myDataView.getItemByIdx(id);

					var params = {
						data : {
							"opinionId" : _data["id"]
						}
					};

					var _item = {
						data : JSON.stringify(params)
					};

					$.ajax({
						url : "${ctxPath}/opinion/listInstructionOpinion",
						type : "post",
						data : _item,
						success : function(data) {
							if (data.success) {
								myDataView2.setItems(data.data);
								myGrid2.render();
							}
							$('#small').modal('show');
						}
					});
				}
				
			</script>